<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        {% csrf_token %}
        {{form}}
    </form>
    {% if message %}
        <h5 style="color: crimson;">{{message}}</h5>    
    {% endif%}
    {% if short_url %}
        <h4>
            <a href={% url 'redirect' short_url %}>Your short URL is http://127.0.0.1:8000/301/{{short_url}}</a>
        </h4>
        <h5 style="color: crimson;">NOTE: The above URL is valid for 2 days</h5>
    {% endif %}
</body>
</html>